@font-face {
    font-family: 'Rubik';
    font-style: normal;
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Rubik';
    font-style: italic;
    src: url(../fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    src: url(../fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    src: url(../fonts/Crimson_Pro/CrimsonPro-Italic-VariableFont_wght.ttf);
}

:root {
    --fixed-header-height: 0px;
    --footer-height: 72px;
    --ff-sans: 'Rubik', sans-serif;
    --ff-serif: 'Crimson Pro', serif;
    --rgb-texto-melissa-violeta: rgb(120,77,123);
    --rgb-texto-melissa-oscuro: rgb(100,89,95);
    --rgb-fondo-melissa: rgb(250,227,235);

    --rgb-fondo-melissa-claro: rgb(254,240,240);
    --rgb-fondo-melissa-claro-r: 254;
    --rgb-fondo-melissa-claro-g: 240;
    --rgb-fondo-melissa-claro-b: 240;

    --rgb-color-melissa-blanco: rgb(254,248,250);
    --rgb-color-melissa-blanco-r: 254;
    --rgb-color-melissa-blanco-g: 248;
    --rgb-color-melissa-blanco-b: 250;
}

body, html {
    font-family: var(--ff-sans);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.btn-spa-volver {
    text-decoration: none;
    color: var(--rgb-texto-melissa-oscuro);
    margin-bottom: 1em;
}

.ff-serif { font-family: var(--ff-serif); }

.ff-sans { font-family: var(--ff-sans); }

header {
    background-image: url(../img/fondo-flores-transp.png);
    background-size: cover;
    background-blend-mode: multiply;
    padding: 1em;
}

.melissa-foto {
    border-radius: 50%;
    width: 150px;
    height: auto;
    object-fit: cover;
    object-position: top;
    margin-bottom: 1em;
}

h1.encabezado-ppal {
    font-size: 36pt;
    font-weight: 600;
    text-align: right;
}
h2.encabezado-ppal {
    font-size: 14pt;
    line-height: 1.5;
}
.contenedor-foto-encabezadoppalh1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.texto-melissa.violeta { color: var(--rgb-texto-melissa-violeta); }
.texto-melissa.oscuro { color: var(--rgb-texto-melissa-oscuro); }
.fondo-melissa { background: var(--rgb-fondo-melissa);  }
.fondo-melissa.claro { background: var(--rgb-fondo-melissa-claro);  }

.btn-melissa {
    padding: 1rem 2rem;
    text-decoration: inherit;
    border-radius: 1rem;
    background: rgb(167,140,183);
    color: rgb(255,253,255);
    font-weight: 500;
    cursor: pointer;
}
.grid-melissa {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.botones-inicio {
    margin: 8px;
    padding: 12px;
}
.botones-inicio, .botones-inicio * {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}
.hover-grow {
    transition: scale ease-out 0.2s;
}
.hover-grow:hover {
    scale: 105%;
}

.titulos-botones-inicio {
    font-size: 16pt;
    font-weight: 600;
    color: inherit;
}
img.iconos-botones-inicio { width: 56px; height: 56px; }

img.emoji-titulo { width: 1.25ch; height: auto; }

img.subseccion-imagen {
    height: 64px;
    width: auto;
    margin-bottom: 1em;
    filter: opacity(90%);
 }

main#content {
    /* min-height: 360px; /* calc(100vh - var(--fixed-header-height) - var(--footer-height)); */
    /* height: 100%; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer.footer {
    height: var(--footer-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-self: flex-end !important; */
    justify-self: flex-end;
    bottom: 0;
}

.enlace-whatsapp {
    text-align: center;
    margin: 0 auto;
    color: var(--rgb-texto-melissa-oscuro);
    font-weight: 400;
    transition: all ease-out 0.2s;
    border-radius: 1.5em;
    background-color: rgba(
        var(--rgb-fondo-melissa-claro-r),
        var(--rgb-fondo-melissa-claro-g),
        var(--rgb-fondo-melissa-claro-b),
        0.75
    );
}
.enlace-whatsapp:hover, .enlace-whatsapp:active {
    color: var(--rgb-texto-melissa-violeta);
    font-weight: 500;
    background-color: rgba(
        var(--rgb-color-melissa-blanco-r),
        var(--rgb-color-melissa-blanco-g),
        var(--rgb-color-melissa-blanco-b),
        0.87
    );
}
.enlace-whatsapp img {
    width: 64px;
    height: auto;
    margin: 0 auto;
}

@media screen and (min-width: 1920px) {
    h1.encabezado-ppal {
        font-size: 42pt;
    }
    h2.encabezado-ppal {
        font-size: 18pt;
    }
    /* .melissa-foto {
        width: 200px;
    } */
}

@media screen and (max-width: 780px) {
    /* body {
        padding: 0 1ch;
    } */
    .contenedor-foto-encabezadoppalh1 {
        flex-direction: column-reverse;
        gap: 0.375em;
    }
    .encabezado-ppal {
        transform: scale(0.75);
        margin: 0 !important;
    }
    h1.encabezado-ppal {
        text-align: center;
    }
    img.iconos-botones-inicio {
        width: 48px;
        height: 48px;
    }
    .melissa-foto {
        margin-bottom: 0;
        width: 128px;
    }
}

@media screen and (max-width: 576px) {
    .grid-melissa {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0 !important;
    }
}