@font-face {
    font-family: 'Rubik';
    font-style: normal;
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Rubik';
    font-style: italic;
    src: url(../fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    src: url(../fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    src: url(../fonts/Crimson_Pro/CrimsonPro-Italic-VariableFont_wght.ttf);
}

:root {
    --fixed-header-height: 0px;
    --footer-height: 72px;
    --ff-sans: 'Rubik', sans-serif;
    --ff-serif: 'Crimson Pro', serif;
    --rgb-texto-melissa-violeta: rgb(120,77,123);
    --rgb-texto-melissa-oscuro: rgb(100,89,95);
    --rgb-fondo-melissa: rgb(250,227,235);

    --rgb-fondo-melissa-claro: rgb(254,240,240);
    --rgb-fondo-melissa-claro-r: 254;
    --rgb-fondo-melissa-claro-g: 240;
    --rgb-fondo-melissa-claro-b: 240;

    --rgb-color-melissa-blanco: rgb(254,248,250);
    --rgb-color-melissa-blanco-r: 254;
    --rgb-color-melissa-blanco-g: 248;
    --rgb-color-melissa-blanco-b: 250;
}

body, html {
    font-family: var(--ff-sans);
}

.btn-spa-volver {
    text-decoration: none;
    color: var(--rgb-texto-melissa-oscuro);
    margin-bottom: 1em;
}

.ff-serif { font-family: var(--ff-serif); }

.ff-sans { font-family: var(--ff-sans); }

.melissa-foto {
    border-radius: 50%;
    width: 192px;
    height: auto;
    object-fit: cover;
    object-position: top;
}

h1.encabezado-ppal {
    font-size: 42pt;
    font-weight: 600;
}
h2.encabezado-ppal {
    font-size: 14pt;
    line-height: 1.5;
}
.texto-melissa.violeta { color: var(--rgb-texto-melissa-violeta); }
.texto-melissa.oscuro { color: var(--rgb-texto-melissa-oscuro); }
.fondo-melissa { background: var(--rgb-fondo-melissa);  }
.fondo-melissa.claro { background: var(--rgb-fondo-melissa-claro);  }

.btn-melissa {
    padding: 1rem 2rem;
    text-decoration: inherit;
    border-radius: 1rem;
    background: rgb(167,140,183);
    color: rgb(255,253,255);
    font-weight: 500;
    cursor: pointer;
}
.botones-inicio, .botones-inicio * {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}
.hover-grow {
    transition: scale ease-out 0.2s;
}
.hover-grow:hover {
    scale: 105%;
}

.titulos-botones-inicio {
    font-size: 16pt;
    font-weight: 600;
    color: inherit;
}
img.iconos-botones-inicio { width: 64px; height: 64px; }

img.emoji-titulo { width: 1.25ch; height: auto; }

img.subseccion-imagen {
    height: 96px;
    width: auto;
    margin-bottom: 1em;
    filter: opacity(90%);
 }

main#app {
    min-height: 480px; /* calc(100vh - var(--fixed-header-height) - var(--footer-height)); */
}
footer.footer {
    height: var(--footer-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enlace-whatsapp {
    text-align: center;
    margin: 0 auto;
    color: var(--rgb-texto-melissa-oscuro);
    font-weight: 400;
    transition: all ease-out 0.2s;
    border-radius: 1.5em;
    background-color: rgba(
        var(--rgb-fondo-melissa-claro-r),
        var(--rgb-fondo-melissa-claro-g),
        var(--rgb-fondo-melissa-claro-b),
        0.75
    );
}
.enlace-whatsapp:hover, .enlace-whatsapp:active {
    color: var(--rgb-texto-melissa-violeta);
    font-weight: 500;
    background-color: rgba(
        var(--rgb-color-melissa-blanco-r),
        var(--rgb-color-melissa-blanco-g),
        var(--rgb-color-melissa-blanco-b),
        0.87
    );
}
.enlace-whatsapp img {
    width: 64px;
    height: auto;
    margin: 0 auto;
}

@media screen and (max-width: 780px) {
    /* body {
        padding: 0 1ch;
    } */
    img.iconos-botones-inicio {
        width: 48px;
        height: 48px;
    }
}