<div class="d-flex flex-column w-100">
    <div class="row m-0 p-0 text-center">
        <!-- <a class="inner-app-nav-link col-12" data-order="1" href="/" id="inner-app-nav-start">
            < Inicio
        </a> -->
        <a class="inner-app-nav-link col-md-2 col-sm-4" data-order="2" href="educacion-especial">
            Educación Especial
        </a>
        <a class="inner-app-nav-link col-md-2 col-sm-4" data-order="3" href="tutorias-psicopedagogicas">
            Tutorías Psicopedagógicas
        </a>
        <a class="inner-app-nav-link col-md-2 col-sm-4" data-order="4" href="orientacion-vocacional">
            Orientación Vocacional
        </a>
        <a class="inner-app-nav-link col-md-2 col-sm-4" data-order="5" href="psicopedagogia-laboral">
            Psicopedagogía Laboral
        </a>
        <a class="inner-app-nav-link col-md-2 col-sm-4" data-order="6" href="evaluacion-y-tratamiento">
            Evaluación y Tratamiento Psicopedagógico
        </a>
        <a class="inner-app-nav-link col-md-2 col-sm-4" data-order="7" href="material-descargable">
            Material Descargable
        </a>
    </div>
</div>